<mat-card class="advertisements-container">
  <mat-toolbar color="primary">
    <span>Advertisements</span>
  </mat-toolbar>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City</th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Street</th>
        <td mat-cell *matCellDef="let element"> {{element.street}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} zł</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
        <td mat-cell *matCellDef="let element"> {{element.size}} m<sup>2</sup></td>
      </ng-container>

      <ng-container matColumnDef="verify">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let ad">
          <button mat-raised-button color="primary" (click)="verifyAd(ad.id, $event)" *ngIf="ad.verification === false">Verify</button>
          <button mat-raised-button color="primary" (click)="verifyAd(ad.id, $event)" *ngIf="ad.verification === true">Unverify</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let ad">
          <button mat-raised-button color="warn" (click)=removeAd(ad.id)>Remove</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <mat-progress-spinner [diameter]="50" *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</mat-card>
