:root{
  box-sizing: border-box;
}
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.custom-btn{
  background-color: #3f51b5;
  color:white;
  border-radius: 15px;
}
.custom-btn:hover{
  background-color: #3f519a;
}
.custom-btn:active{
  background-color: #3f517a;
}
.search-form {
  border-radius: 30px;
}

.ad-list {
  flex-flow: column;

  > div {
    margin: 20px auto;
  }
  app-ad {
    margin: auto;
  }

  mat-progress-spinner {
    margin: auto;
  }
}
.pick-radio {
  margin: 20px auto;
  text-align: center;

  .element {
    margin: 0 10px;
  }
}


