<mat-card class="signin-container">
  <mat-toolbar color="primary">
    <span>Logowanie</span>
  </mat-toolbar>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="f.email.errors">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="pass" placeholder="Hasło" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="f.pass.errors">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-progress-spinner [diameter]="50" *ngIf="authenticationService.loading" color="primary" mode="indeterminate"></mat-progress-spinner>
    <button *ngIf="!authenticationService.loading" class="login-btn" mat-raised-button color="primary">
      Login
    </button>
  </form>



</mat-card>
