<h1 mat-dialog-title>Confirm password</h1>
<div mat-dialog-content (keyup)="SubmitOnEnter($event)">
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="data.oldPassword" placeholder="Current password" (keyup)="checkValidation()" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'password'">
      <input matInput type="password" [(ngModel)]="data.value" placeholder="New password" [type]="hide ? 'password' : 'text'" (keyup)="checkValidation()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'password'">
      <input matInput type="password" [(ngModel)]="passwordMatch" placeholder="Confirm password" [type]="hide ? 'password' : 'text'" (keyup)="checkValidation()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Canncel</button>
  <button id="updateButton" mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]=disableButton >Update</button>
</div>
