<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Enter new value</p>
    <mat-form-field *ngIf="data.type == 'firstName'">
      <input matInput type="text" [(ngModel)]="data.value" placeholder="First Name" value={{data.value}} (keyup)="checkValidation()">
    </mat-form-field>
     <mat-form-field *ngIf="data.type == 'lastName'">
      <input matInput type="text" [(ngModel)]="data.value"  placeholder="Last Name" value={{data.value}} (keyup)="checkValidation()">
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'phoneNumber'">
      <input matInput type="text" [(ngModel)]="data.value" placeholder="Phone number" value={{data.value}} (keyup)="checkValidation()">
      <i matSuffix class="fas fa-phone"></i>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'email'">
      <input matInput type="email" [(ngModel)]="data.value" placeholder="Email" value={{data.value}}
             (keyup)="checkValidation()">
      <i matSuffix class="fas fa-envelope"></i>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="data.oldPassword" placeholder="Current password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'password'">
      <input matInput type="password" [(ngModel)]="data.value" placeholder="New password" [type]="hide ? 'password' : 'text'" (keyup)="checkValidation()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == 'password'">
      <input matInput type="password" [(ngModel)]="passwordMatch" placeholder="Confirm password" [type]="hide ? 'password' : 'text'" (keyup)="checkValidation()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Canncel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]=disableButton >Update</button>
</div>
