<mat-card *ngIf="users" class="user-container">
  <mat-toolbar color="primary">
    <span>Users list</span>
  </mat-toolbar>
  <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="FirstName">
    <th mat-header-cell *matHeaderCellDef> FirstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="LastName">
    <th mat-header-cell *matHeaderCellDef> LastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="PhoneNumber">
    <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.blocked">Blocked</ng-container>
      <ng-container *ngIf="!element.blocked">Unblocked</ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>ChangeStatus</th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="changeStatus(element)">Change</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols;"></tr>
</table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
<mat-progress-spinner [diameter]="50" *ngIf="!users" color="primary" mode="indeterminate"></mat-progress-spinner>
