.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;

  .image-desc {
    display: flex;

    mat-icon {
      cursor: pointer;
    }

  }
}

.title {
  width: 70%;
  font-size: 20px;
  margin: 30px 0;
}

.info {
  width: 20%;
  min-width: 150px;
  margin-right: calc(40% / 3);
}

.description {
  width: 100%;
}

.images img {
  max-height: 400px;
  max-width: 400px;
  margin: 15px auto;
}

.add-img {
  margin: 15px auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.wdh {
  width: 100%;
}

.wdh button {
  height: 5vh;
  margin: 0;
}

.buttons {
  margin-top: 30px;
}
