<mat-card class="ad-container" *ngIf="adData | async as ad; else loading">
  <mdb-carousel [interval]="0" [animation]="'slide'" *ngIf="ad.images.length > 1; else oneImg">
    <mdb-carousel-item *ngFor="let img of ad.images">
      <img class="d-block w-100"  [src]="img.image" alt="image">
    </mdb-carousel-item>
  </mdb-carousel>
  <ng-template #oneImg>
    <img mat-card-image *ngFor="let img of ad.images" [src]="img.image">
  </ng-template>

  <mat-card-header>
    <mat-card-title>{{ad.title}}</mat-card-title>
    <mat-card-subtitle>{{ad.street}}, {{ad.city}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>Category</mat-grid-tile>
      <mat-grid-tile>{{ad.category}}</mat-grid-tile>
      <ng-container *ngIf="ad.size">
        <mat-grid-tile>Size</mat-grid-tile>
        <mat-grid-tile>{{ad.size}}m<sup>2</sup></mat-grid-tile>
      </ng-container>
      <ng-container *ngIf="ad.floor">
        <mat-grid-tile>Floor</mat-grid-tile>
        <mat-grid-tile>{{ad.floor}}</mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <mat-grid-list cols="1">
      <div class="wrapper">{{ad.description}}</div>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>Price</mat-grid-tile>
      <mat-grid-tile>{{ad.price}}zł</mat-grid-tile>
      <mat-grid-tile>Phone</mat-grid-tile>
      <mat-grid-tile>{{ad.phoneNumber}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<ng-template #loading>
  <div class="center"><mat-progress-spinner [diameter]="100" color="primary" mode="indeterminate"></mat-progress-spinner></div>
</ng-template>
