h2 {
  text-align: center;
}
.ad-container {
  display:flex;
  flex-direction: column;
  margin:20px auto;
  width:40%;
}
.mat-grid-list{
  margin: 10px;
}
.mat-progress-spinner {
  margin: 0 auto;
}
.wrapper{
  word-wrap: break-word;
}
.mat-grid-tile > ::ng-deep figure {
  justify-content: flex-start !important;
}
.center{
  position:fixed;
  top:50%;
  left:50%
}
