<mat-card class="ad-container">
    <mat-toolbar color="primary">
        <span>Advertisement</span>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <mat-list role="list" *ngIf="adData | async as ad; else loading">
            <mat-list-item role="listitem">Title: {{ad.title}}</mat-list-item>
            <mat-list-item role="listitem">Category: {{ad.category}}</mat-list-item>
            <mat-list-item role="listitem">City: {{ad.city}}</mat-list-item>
            <mat-list-item role="listitem">Street: {{ad.street}}</mat-list-item>
            <mat-list-item role="listitem">Floor: {{ad.floor}}</mat-list-item>
            <mat-list-item role="listitem">Price: {{ad.price}}zł</mat-list-item>
            <mat-list-item role="listitem">Size: {{ad.size}}m<sup>2</sup></mat-list-item>
            <mat-list-item role="listitem">Phone: {{ad.phoneNumber}}</mat-list-item>
            <mat-list-item role="listitem">Description: {{ad.description}}</mat-list-item>
            <mat-list-item role="listitem" class="gallery" *ngFor="let img of ad.images">
                    File Name: {{img.name}}
                    <img [src]="img.image" width="200">
                    Description: {{img.description}}
            </mat-list-item>


        </mat-list>
    </div>
    <ng-template #loading>
        <mat-progress-spinner [diameter]="50" color="primary" mode="indeterminate"></mat-progress-spinner>
    </ng-template>
</mat-card>
