.sidenav-container {
  height: 100%;


  mat-sidenav-content {

    a {
      text-decoration: none;
      color: white;
    }
  }

}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  border-right: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
