.sidenav-container {
  height: 100%;


  mat-sidenav-content {

    a {
      text-decoration: none;
      color: white;
    }
  }

  mat-sidenav {
    a {
      font-size: 15px;
      font-weight: bold;
    }

    mat-expansion-panel {
      user-select: none;

      mat-expansion-panel-header {
        padding: 0 16px;
      }

      ::ng-deep {
        div.mat-expansion-panel-body {
          padding: 0;
        }
      }
    }

    mat-nav-list {
      padding-top: 0;
    }
  }

}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  border-right: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}
.mat-drawer-content {
  height: calc(100% - 40px);
  overflow-y: scroll;
  margin-right: -100px;
  padding-right: 100px;
  width: calc(100% - 83px);
  overflow-x: hidden;

  @media(max-width: 600px) {
    margin-right: 0;
    padding-right: 0;
    width: 100%;

  }
}
